<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<remove fileExtension=".js" />
				<mimeMap fileExtension=".js" mimeType="application/javascript" />
				<remove fileExtension=".css" />
				<mimeMap fileExtension=".css" mimeType="text/css" />
				<remove fileExtension=".json" />
				<mimeMap fileExtension=".json" mimeType="application/json" />
				<remove fileExtension=".br" />
				<mimeMap fileExtension=".br" mimeType="application/brotli" />
				<remove fileExtension=".gz" />
				<mimeMap fileExtension=".gz" mimeType="application/gzip" />
			</staticContent>
			<rewrite>
				<rules>
					<rule name="httpTohttps" stopProcessing="true">
						<match url="^(.*)$" />
						<conditions>
							<add input="{HTTPS}" pattern="off" ignoreCase="true" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
					</rule>
				</rules>
			</rewrite>
			<httpProtocol>
				<customHeaders>
					<add name="X-Content-Type-Options" value="nosniff" />
					<add name="X-Frame-Options" value="SAMEORIGIN" />
					<add name="X-XSS-Protection" value="1; mode=block" />
					<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
					<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline';" />
				</customHeaders>
			</httpProtocol>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet"
						arguments=".\Kursserver.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>